<header>
  <ul>
    <h1><%= link_to "Members Only", root_path %></h1>
    <li><%= link_to "Log in", login_path %></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Become A Member</a></li>
  </ul>
</header>